:root {
	--transition: 0.6s ease;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
}

*:focus {
	outline: solid 4px red;
}

body {
	margin: 0;
}

.wrapper {
	padding: 1px 20px; /* prevent of margin collapse */
}

.has-dialog {
	overflow: hidden;
}

.has-dialog .wrapper {
	overflow: scroll;
}

.dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	visibility: hidden;
	transition: visibility var(--transition);
}

.dialog-backdrop.is-active {
	visibility: visible;
	overflow-y: scroll;
}

.dialog-backdrop::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	transition: opacity var(--transition);
	opacity: 0;
}

.dialog-backdrop.is-active::after {
	opacity: 1;
}

.dialog-backdrop.is-last-dialog::after {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	visibility: hidden;
	background: white;
	position: relative;
	z-index: 3;
	width: 300px;
	margin: 50px auto;
	opacity: 0;
	border: 1px solid #000;
	padding: 40px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
	transition: var(--transition);
	transition-property: opacity, visibility;
}
.modal.is-open {
	visibility: visible;
	opacity: 1;
}
.dialog-backdrop.is-last-dialog .modal {
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.panel {
	background: white;
	visibility: hidden;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 320px;
	transform: translateX(100%);
	transition: var(--transition);
	transition-property: transform, visibility;
	padding: 40px;
	z-index: 3;
}
.panel.is-open {
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
	visibility: visible;
	transform: translateX(0%);
}

@keyframes some {
	0% {
		transform: translateY(-30%) translateX(-50%);
	}
	
	100% {
		transform: translateY(0) translateX(-50%);
	}
}
